# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dev
node_modules
.DS_Store
deploy/lib
.dev
.env

# Editor directories and files
.idea/*
!.idea/jsLinters/*
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
